@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";
@import "../../assets/styles/Fonts.scss";

.presentation-container {
  display: flex;
  gap: 144px;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue-color;
  margin: 80px 240px;

  @include respond-to-large {
    margin: 56px 0 0 0;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__text {
    align-content: center;

    &__title {
      color: $beige-color;
      font-size: 48px;
      margin: 0 0 40px 0;

      &__highlight {
        color: $orange-color;
      }
    }

    &__presentation {
      color: white;
    }
  }

  &__photo-container {
    &__photo {
      width: 368px;
      height: 368px;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
    }
  }
}
