@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";
@import "../../assets/styles/Fonts.scss";

.presentation-container {
  display: flex;
  align-items: center;
  gap: 56px;
  background-color: $light-beige-color;
  padding-right: 104px;
  justify-content: space-between;

  @include respond-to-extra-large {
    padding: 0;
    flex-direction: column-reverse;
    gap: 0;
  }

  @include respond-to-large {
    margin: 0;
  }

  &__text {
    align-content: center;

    @include respond-to-extra-large {
      width: -webkit-fill-available;
      padding: 64px 40px;
      text-align: center;
    }

    @include respond-to-medium {
      padding: 40px 16px;
    }

    &__title {
      font-size: 48px;
      margin: 0 0 40px 0;

      @include respond-to-small {
        margin: 0 0 40px 0;
      }
    }

    &__presentation {
      color: black;

      p {
        margin: 0;
      }
    }
  }

  &__photo-container {
    height: 800px;

    @include respond-to-extra-large {
      height: auto;
    }

    &__photo {
      height: 800px;
      width: 600px;
      object-fit: cover;

      @include respond-to-extra-extra-large {
        width: 100%;
      }

      @include respond-to-small {
        height: 500px;
      }
    }
  }
}
