@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.social-media-accounts {
  background-color: $light-blue-color;
  padding: 64px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;

  @include respond-to-extra-large {
    padding: 64px 104px;
  }

  @include respond-to-large {
    padding: 64px 96px;
    flex-direction: column;
    gap: 32px;
    margin-top: 56px;
  }

  @include respond-to-small {
    padding: 64px 40px;
    margin-top: 80px;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.hidden {
    opacity: 0;
    transform: translateY(50px);
  }

  &__title {
    font-size: 24px;
    font-family: "Playfair Display";
    font-style: italic;
    color: $beige-color;
  }

  &__icons-container {
    display: flex;
    gap: 56px;

    &__icon {
      background-color: white;
      color: $dark-blue-color;
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;

      @include respond-to-small {
        padding: 16px;
      }
    }
  }
}
