@import "../../assets/styles/mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";
@import "../../assets/styles/Fonts.scss";

.project-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  width: 384px;
  height: 384px;
  background-color: $light-blue-color;
  color: black;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;

  &.hidden {
    opacity: 0;
    transform: translateY(20px);
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @include respond-to-large {
    width: 100%;
    margin: 0 96px;
    width: auto;
  }

  @include respond-to-medium {
    height: 100%;
  }

  &__information {
    margin: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;

    @include respond-to-large {
      height: 144px;
    }

    &__title {
      color: $beige-color;
      margin: 0;
      font-family: "Playfair Display";
      font-style: italic;
    }

    &__description {
      align-content: center;
      color: white;
      margin: 0;
    }

    &__link {
      display: flex;
      justify-content: end;
      margin: 0 16px 24px 0;

      &__project {
        text-decoration: none;
        border: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        background-color: $light-blue-color;
        color: $beige-color;

        svg {
          margin-right: 8px;
        }
      }
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__technologies {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
