@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.technologies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  margin: auto;

  @include respond-to-medium {
    grid-template-columns: none;
  }

  &__category {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__subject {
      color: $light-blue-color;
    }

    &__item {
      display: flex;
      gap: 16px;
    }
  }
}
