@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.technologies-list {
  display: flex;
  gap: 120px;
  margin-bottom: 88px;
  margin: 0 240px;
  justify-content: center;

  @include respond-to-medium {
    grid-template-columns: none;
  }

  &__subject {
    color: white;
    background-color: $light-blue-color;
    padding: 4px 14px;
    border-radius: 90px;
    font-weight: 500;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 224px;

    &__icon {
      color: $beige-color;
    }

    &__title {
      font-weight: bold;
      font-size: 32px;
      color: $light-blue-color;
    }

    &__technologies {
      text-align: center;
      font-size: 24px;
    }
  }

  &__category {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease-out,
      transform 0.5s ease-out;
  }

  .hidden {
    opacity: 0;
    transform: translateY(20px);
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }
}
