@import "../../assets/styles/Colors.scss";

.secondary-button {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: $beige-color;
  color: $blue-color;
  padding: 12px 24px;
  border-radius: 0.5rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: $blue-color;
    color: white;
  }

  &__center-version {
    margin: auto;
  }
}
