@import "../../assets/styles/Colors.scss";

.section-title {
  gap: 16px;
  margin: 0 240px 64px;

  &__title {
    color: $orange-color;
    position: relative;
    white-space: nowrap;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
  }
}
