@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.section-title {
  gap: 16px;
  margin: 0 240px 64px;

  @include respond-to-large {
    margin: 0 0 80px 0;
  }

  &__title {
    color: $orange-color;
    position: relative;
    white-space: nowrap;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
  }
}
