@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.button {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: $light-green-color;
  color: $light-light-beige-color;
  padding: 12px 24px;
  border-radius: 0.5rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: $beige-color;
    color: $light-green-color;
  }
}

.margin-top-version {
  margin-top: 56px;

  @include respond-to-medium {
    margin-top: 32px;
  }
}

.button-mobile-version {
  @include respond-to-small {
    display: none;
  }
}

.button-with-no-margin {
  margin: 0;
}
