@import "../../assets//styles//mixins/breakpoints.scss";

.project-section {
  margin: 252px 120px 96px 120px;

  @include respond-to-extra-large {
    margin: 172px 64px 64px 64px;
  }

  @include respond-to-medium {
    margin: 104px 16px 40px 16px;
  }

  &__description {
    margin: 0;
  }

  &__description-block {
    margin-bottom: 56px;

    @include respond-to-medium {
      margin-bottom: 40px;
    }
  }

  &__image {
    width: -webkit-fill-available;
    margin-top: 96px;

    @include respond-to-medium {
      margin-top: 40px;
    }
  }
}
