@import "../../assets/styles/Colors.scss";
@import "../../assets/styles/mixins/breakpoints.scss";

.experiences-section {
  padding: 80px 104px;

  @include respond-to-extra-large {
    padding: 64px 40px;
  }

  @include respond-to-medium {
    padding: 40px 16px;
  }

  &__title {
    text-align: center;
  }

  &__list {
    display: grid;
    gap: 40px;

    &__item {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      align-items: center;

      &__year {
        color: $blue-color;
        font-weight: 500;
      }

      &__content {
        grid-column: span 3;

        &__company-name {
          margin-bottom: 0.5rem;
        }

        &__description {
          margin: 0;
        }
      }
    }
  }
}
