@import "../../assets//styles//mixins/breakpoints.scss";

.experiences-list {
  @include respond-to-medium {
    grid-template-columns: none;
  }

  @include respond-to-medium-large {
    grid-template-columns: repeat(3, 1fr);
  }
}

.experiences-container {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  transition-delay: 0.5s;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
