@import "../../assets//styles//mixins/breakpoints.scss";

.skills {
  margin: 40px 104px 0 104px;

  @include respond-to-extra-large {
    margin: 0 40px;
  }

  @include respond-to-medium {
    margin: 40px 16px 0 16px;
  }
}
