@import "../../assets/styles/mixins/breakpoints.scss";

.page-title {
  text-align: center;
  margin-bottom: 4rem;

  @include respond-to-medium {
    margin-bottom: 2rem;
  }

  &__paragraph {
    margin: 0;
  }
}
