@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

body {
  background-color: $beige-color;
}

main {
  margin: 0 100px;

  @include respond-to-medium {
    margin: 0 20px;
  }
}
