@import "../../assets/styles/Colors.scss";
@import "../../assets/styles/Fonts.scss";

.about {
  margin: 80px 0;

  &__texts {
    display: grid;
    grid-template-columns: 7fr 1fr 7fr;
    margin: 0 240px;

    &__principal-information {
      margin-bottom: 48px;
      font-size: 24px;
      font-family: "Playfair Display";
      font-style: italic;
      color: $beige-color;
    }

    &__introduction {
      padding-right: 48px;
      align-content: center;
    }
  }
}
