@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Fonts.scss";
@import "../../assets/styles/Colors.scss";

.image-and-text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;

  @include respond-to-extra-large {
    flex-direction: column-reverse;
    gap: 40px;
  }

  &__text {
    @include respond-to-extra-large {
      text-align: center;
    }

    &__title {
      margin: 0 0 32px 0;
    }
  }

  &__image-container {
    @include respond-to-extra-large {
      width: 100%;
    }

    &__image {
      height: 800px;
      width: 600px;
      object-fit: cover;

      @include respond-to-extra-extra-large {
        width: 100%;
      }

      @include respond-to-small {
        height: 500px;
      }
    }
  }

  &.row-reverse-version {
    flex-direction: row-reverse;

    @include respond-to-extra-large {
      flex-direction: column-reverse;
    }
  }

  &__paragraph {
    margin: 0;
  }

  &__margin-left {
    padding-left: 104px;

    @include respond-to-extra-large {
      padding: 0 40px 64px 40px;
    }
  }

  &__margin-right {
    padding-right: 104px;
    display: flex;
    flex-direction: column;

    @include respond-to-extra-large {
      padding: 0 40px 64px 40px;
    }

    @include respond-to-medium {
      padding: 0 16px 40px 16px;
    }
  }
}

.image-and-text-block__mobile-version {
  @include respond-to-large {
    flex-direction: column;
  }
}

.image-and-text-block__text-mobile-version {
  @include respond-to-large {
    padding-top: 64px;
    padding-bottom: 0;
  }

  @include respond-to-medium {
    padding: 40px 16px 0 16px;
  }
}
