@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 100px;
  top: 0;
  z-index: 1000;
  background-color: $beige-color;
  color: $dark-blue-color;

  @include respond-to-medium {
    padding: 32px;
  }

  @include respond-to-medium-large {
    padding: 32px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 40px;

    @include respond-to-large {
      gap: 24px;
    }

    &__nav {
      display: flex;
      gap: 24px;

      @include respond-to-medium {
        display: none;
      }

      div {
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;

        align-self: center;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__languages {
      cursor: pointer;
      position: relative;

      &__current-language {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      &__new-language {
        position: absolute;
      }
    }
  }

  &__links-block {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.menu-hamburger {
  display: none;

  @include respond-to-medium {
    display: block;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    @include respond-to-large {
      height: 100%;
    }

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $dark-blue-color;
      margin: 4px 0;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    }
  }

  &__nav {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 4px;
    background-color: $beige-color;
    color: $dark-blue-color;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 40px;

      li {
        font-weight: bold;
        cursor: pointer;
        font-size: 32px;
      }
    }

    &__links {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    &__block {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 80px;
    }
  }
}

.fa-xmark {
  align-self: flex-end;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
