@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 100px;
  top: 0;
  z-index: 1000;
  background-color: $beige-color;

  @include respond-to-medium {
    padding: 32px;
  }

  @include respond-to-medium-large {
    padding: 32px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    color: $orange-color;
    color: $dark-blue-color;
  }

  &__nav {
    display: flex;
    gap: 24px;

    @include respond-to-medium {
      display: none;
    }

    div {
      text-decoration: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      color: $dark-blue-color;
      align-self: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.menu-hamburger {
  display: none;

  @include respond-to-medium {
    display: block;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $beige-color;
      margin: 4px 0;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    }
  }

  &__nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;

    &.open {
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 10px 0;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
