@import "../../assets//styles//mixins/breakpoints.scss";
@import "../../assets/styles/Colors.scss";

.footer {
  padding: 3rem 104px;
  background-color: $dark-blue-color;
  color: $light-light-beige-color;

  @include respond-to-extra-large {
    padding: 3rem 40px;
  }

  @include respond-to-medium {
    padding: 2rem 16px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include respond-to-medium {
      grid-template-columns: 1fr;
    }
  }

  &__section-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: $light-light-beige-color;
  }

  &__link-list {
    list-style: none;
    padding: 0;

    &-item {
      margin-bottom: 0.5rem;

      a {
        color: $light-light-beige-color;

        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: white;
        }
      }
    }
  }

  &__contact {
    &-text {
      margin-bottom: 1rem;
    }
  }

  &__bottom {
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      color: $light-light-beige-color;
      cursor: pointer;
      transition: color 0.3s;

      span {
        margin-right: 0.5rem;
      }

      &:hover {
        color: white;
      }

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
