@import "../../assets//styles//mixins/breakpoints.scss";

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include respond-to-medium {
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  > div {
    background: white;
    flex: 1 1 calc(33.33% - 16px);
    box-sizing: border-box;
  }
}
