@import "../../assets/styles/Colors.scss";
@import "../../assets//styles//mixins/breakpoints.scss";

.modal {
  &__background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
  }

  &__content {
    background-color: white;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    @include respond-to-medium {
      height: 60%;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  &__image {
    width: 100%;
    border-radius: 8px;
  }

  &__title {
    color: $light-blue-color;
  }

  &__description,
  &__details {
    margin-bottom: 16px;
  }

  &__technologies__title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__technologies__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    i {
      align-self: center;
    }
  }

  &__link {
    margin-top: 16px;
    display: flex;
    justify-content: end;

    &__project {
      background-color: white;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 8px 12px;
      color: $light-blue-color;
      text-decoration: none;

      svg {
        margin-right: 8px;
      }
    }
  }
}

.body__modal-open {
  overflow: hidden;
  width: 100%;
}
