$beige-color: #e6d9c4;
$light-light-beige-color: #fdfdfb;
$light-beige-color: #f8f4ee;

$light-blue-color: #a4b1c7;
$blue-color: #687da2;
$dark-blue-color: #4f6180;

$link-text-color: #4f6180;
$text-color: #374151;

$light-green-color: #6a7956;
$green-color: #566246;
